$sm-primaryFontColor: #332e2e;
$sm-secondaryFontColor: #fff;
$sm-thirdFontColor: #bfbfbf;
$sm-backgroundColor: #fff;
$sm-primaryHighlightColor: #ee7324;
$sm-primaryHighlightColorHover: #cc5c13;
$sm-secondaryHighlightColor: #3d4697;
$sm-secondaryHighlightColorHover: #272e6d;
$sm-buttonColor: $sm-primaryHighlightColor;
$sm-buttonFontColor: $sm-secondaryFontColor;
$sm-optionsBorderColor: #d4d4d4;
$sm-sliderUnselectedColour: $sm-secondaryHighlightColor;
$sm-sliderSelectedColour: $sm-secondaryHighlightColor;
$sm-iconColor: $sm-secondaryFontColor;
$sm-labelHoverColor: #eaeaea;
