$sm-primaryFontColor: #252525;
$sm-secondaryFontColor: #fff;
$sm-backgroundColor: #fff;
$sm-highlightColor: #16b1a3;
$sm-buttonColor: $sm-highlightColor;
$sm-buttonFontColor: $sm-secondaryFontColor;
$sm-optionsBorderColor: #d4d4d4;
$sm-sliderUnselectedColour: $sm-primaryFontColor;
$sm-sliderSelectedColour: $sm-highlightColor;
$sm-iconColor: $sm-secondaryFontColor;
$sm-labelHoverColor: #eaeaea;
